body{
	margin: 0;
	padding: 0;
	font-family: OCR A Std, monospace;
	background-color: #FF6961;
	display: flex;
	flex-direction: column;
}
  
h1{
	text-align: center;
	font-size: 56px;
	color: #FDEE4B;
}

.container {
	margin: 0 auto;
}

.container .buttons {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	margin-top: 40px;
  }
  
.container .buttons button {
	font-family: OCR A Std, monospace;
	width: 160px;
	height: 60px;
	gap: 32px;
	background-color: #FF6961;
	border-radius: 15px;
	font-size: 19px;
}

.container .buttons button:hover{
	box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 12px;
}

.container .buttons button:focus{
	background-color: #C23B22;
}
  
.container .screen {
	display: grid;
	width: 1200px;
	height: 500px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 12px;
}

a{
	text-decoration: none;
	color: black;
}

footer{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 36px;
	gap: 16px;
}

input[type='Color'] {
	-webkit-appearance: none;
	border: none;
	background-color: #FF6961;
}
 